.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_form input{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    outline: none;
}

.create_form button{
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Container for the entire task list */
.task-list {
  padding: 20px; /* Add padding to the task list container */
}

/* Task container */
.task {
  display: flex; /* Make tasks flex containers */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space items evenly */
  padding: 10px; /* Add padding to the task container */
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 5px; /* Add rounded corners */
  margin-bottom: 10px; /* Add space between tasks */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Task text */
.task p {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Adjust font size */
  color: #212529; /* Dark text color */
}

/* Checkbox container */
.checkbox {
  display: flex; /* Make checkbox container a flex container */
  align-items: center; /* Align items vertically */
}

/* Icon style */
.checkbox .icon {
  margin-right: 5px; /* Add space between icon and text */
  font-size: 20px; /* Adjust icon size */
  color: #007bff; /* Blue color for the circle icon */
}

/* Trash icon style */
.task div span {
  margin-left: 10px; /* Add space between task text and trash icon */
}

/* Trash icon hover effect */
.task div .icon:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
  color: #dc3545; /* Red color for the trash icon on hover */
}

.line_through {
  text-decoration: line-through;
}